/* src/Game.css */
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .status {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .board {
    display: flex;
    flex-direction: column;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    width: 60px;
    height: 60px;
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  
  .square:focus {
    background: #ddd;
  }
  